* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

@font-face {
    font-family: 'NotoSans';
    src: url(fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: 'NotoSansBold';
    src: url(fonts/NotoSans-Bold.ttf);
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #00198a;
}

:root {
    --corVerde: #008a83;
    --corAmarelo: #fcff60;
    --corVermelho: #cf1a1a;
}

#header .container {
    margin: 60px 60px;
    background-color: white;
    height: 1100px;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.219);
}

.cabecalho {
    margin: 80px 100px;
}

#logo img {
    width: 140px;
}

#logo {
    background-color: #00198a;
    width: 180px;
    /* margin-left: 80px; */
    text-align: center;
}

#item{
    font: 400 20px 'NotoSans', sans-serif;
    /* color: rgb(78, 78, 78); */
    margin-left: 60px;
    padding: 5px 20px;
    background-color: #00198a;
    color: white;
    transition: 0.5s;
}

#item2{
    font: 400 20px 'NotoSans', sans-serif;
    /* color: rgb(78, 78, 78); */
    margin-left: 60px;
    padding: 5px 20px;
    background-color: #00198a;
    color: white;
    transition: 0.5s;
}


.itens {
    text-align: right;
    margin-top: -90px;
}

.principal img {
    width: 420px;
    height: 415px;
    border-radius: 320px;
    margin-top: -50px;
}

.textoTitulo {
    font: 700 35px 'NotoSansBold', sans-serif;
    margin-left: 70px;
    margin-top: 0px;
    letter-spacing: 1px;
    color: #000000;
}

.texto {
    font: 400 20px 'NotoSans', sans-serif;
    color: rgb(124, 124, 124);
    line-height: 30px;
    margin: 20px 0 0 50px;
    text-align: justify;
}

.principal {
    display: flex;
}

.conteudo {
    margin-right: 300px;
    margin-top: 70px;
}

.margem {
    margin: 0 100px 0 60px;
}

#circulo {
    border-radius: 20px;
    width: 30px;
    background-color: #00198a;
    font: 400 20px 'NotoSans', sans-serif;
    color: rgb(255, 255, 255);
    padding: 5px 30px;
}

.link {
    margin-top: 30px;
    margin-left: 190px;
}

.retangulo {
    width: 450px;
    height: 220px;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.219);
    background-color: #f3f3f3;
    margin-top: 60px;
    margin-left: 465px;
}

.verifique {
    font: 700 30px 'NotoSansBold', sans-serif;
    text-align: center;
    margin-top: 90px;
    letter-spacing: 2px;
    color: black;
}

.cadastro {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#acesso .texto{
    text-align: center;
    margin: 10px 0 0 0;
}


.single-input {
    position: relative;
    text-align: center;
}

.single-input label {
    left: 80px;
    position: absolute;
    font: 400 16px 'NotoSans', sans-serif;
    bottom: 5px;
    color: rgb(150, 150, 150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

.input {
    width: 300px;
    padding: 5px;
    border: 0;
    border-bottom: 3px solid rgb(200, 200, 200);
    outline: 0;
    color: rgb(80, 80, 80);
    transition: 0.5s ease-in-out;
}

.input:focus,
.input:valid {
    border-bottom: 3px solid cornflowerblue;
}

.input:focus~label,
.input:valid~label {
    transform: translateY(-24px);
    font-size: 14px;
    color: cornflowerblue;
}

button{
    border-radius: 20px ;
    background-color: #00198a;
    color: white;
    padding: 5px 20px;
    font: 400 16px 'NotoSans', sans-serif;
    margin-top: 25px;
    cursor: pointer;
}

#resultado{
    font: 400 18px 'NotoSans', sans-serif;
    color: #000000;
    margin-top: 20px;
    padding: 0 20px;
}

.botao{
    color: white;
}
