*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

@font-face {
    font-family: 'NotoSans';
    src: url(fonts/NotoSans-Regular.ttf);
}

body{
    background-color: #00198a;
}

:root{
    --corVerde: #008a83;
    --corAmarelo: #fcff60;
    --corVermelho: #cf1a1a;
}

#header .container{
    margin: 60px 60px;
    background-color: white;
    height: 600px;
    box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.219);
}

.cabecalho{
    margin: 100px 100px;
}

.logo img{
    width: 140px;
}

.logo{
    background-color: #00198a;
    width: 170px;
    /* margin-left: 80px; */
    text-align: center;
}

.item{
    font: 400 20px 'NotoSans', sans-serif;
    color: rgb(78, 78, 78);
    margin-left: 60px;
    padding: 5px 20px;
    transition: 0.2s;
}

.item:hover{
    background-color: #00198a;
    padding: 5px 20px;
    color: white;
}

.itens{
    text-align: right;
    margin-top: -90px;
}


.principal img{
    width: 420px;
    height: 410px;
    margin-left: 800px;
    border-radius: 320px;
    display: flex;
}